.container{
            background-color: antiquewhite;
            width: 50vw;
            height: 50vh;
        }
        .box{
            background-color: aquamarine;
            width: 5vw;
            height: 4vh;
            /* transition-property: background-color transform;
            transition-duration: 4s;
            transition-timing-function: ease-in-out;
            transition-delay: 0.5s; */
            transition: background-color transform, 4s, ease-in-out, 0.5s;
        }
        .transform{
            transform: translateX(50vw) translateY(50vh) scale(2);
            background-color: red;
        }