.green{
    background-color: rgb(115, 115, 190);
}
#div1{
    color: brown;
}
#div2{
    color: rgb(123, 202, 123);
}
.pink{
    background-color: rgb(252, 200, 208);
}
#div3{
    color: rgb(197, 133, 14);
}
#div4{
    color: rgb(74, 204, 34);
}