@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body{
    background-color: black;
}
.main{
    background-image: url(assets/images/bg.jpg);
    height: 644px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}
.main .box{
    height: 644px;
    width: 100%;
    opacity: 0.64;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    display: flex;
    width: 60vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
@media screen and (max-width: 1300px) {
    nav{
    width: 90vw;
}
}
nav img{
    position: relative;
    width: 130px;
}
.btn{
    position: relative;
    z-index: 10;
    padding: 3px 8px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(218, 10, 10, 0);
    color: white;
    cursor: pointer;
}
.btn-red{
    position: relative;
    z-index: 10;
    padding: 3px 8px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgb(255, 7, 7);
    color: white;
    cursor: pointer;
}
.hero{
    position: relative;
    color: white;
    height: 544px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    gap:23px
}
.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
}
.hero> :nth-child(2){
    font-size: 24px;
}
.hero> :nth-child(3){
    font-size: 20px;
}
@media screen and (max-width:1300px) {
    .hero> :nth-child(1){
    font-size: 34px;
    }
    .hero> :nth-child(2){
    font-size: 20px;
    }
    .hero> :nth-child(3){
    font-size: 17px;
    }
}
.hero-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}
.main input{
    border-radius: 6px;
    border: 1px solid rgb(128, 128, 128);
    background-color:#0706063d;
    padding: 7px 101px 8px 14px;

}
.main-btn-red{
    background-color: red;
    border-radius: 4px;
    border: 1px solid rgb(253, 242, 242);
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 4px 24px;
    cursor: pointer;
}
.separate{
    height: 7px;
    background: rgb(46, 44, 44);
}
.first-show{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 70vw;
    margin: auto;
}
section.first-show> div {
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}
section.first-show>div :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}
section.first-show>div :nth-child(2) {
    font-size: 20px;
}
.fsimgvid{
    position: relative;
}
.fsimgvid img{
    position: relative;
    width: 555px;
    z-index: 10;
}
.fsimgvid video{
    position: absolute;
    top: 95px;
    right: 27px;
    width: 455px;
}
@media screen and (max-width:1300px){
    section.first-show{
        flex-wrap: wrap;
    }
    .fsimgvid img{
        width: 305px;
    }
    .fsimgvid video{
        position: absolute;
        top: 86px;
        right: 52px;
        width: 205px;
    } 
}

.sec-show{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 70vw;
    margin: auto;
}
section.sec-show> div {
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}
section.sec-show>div :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}
section.sec-show>div :nth-child(2) {
    font-size: 24px;
}
.ssimg img{
    position: relative;
    width: 555px;
    z-index: 10;
}
@media screen and (max-width:1300px){
    section.sec-show{
        flex-wrap: wrap;
    }
    .ssimg img{
        width: 305px;
    }
}
.trd-show{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 70vw;
    margin: auto;
}
section.trd-show> div {
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}
section.trd-show>div :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}
section.trd-show>div :nth-child(2) {
    font-size: 20px;
}
.tsimgvid{
    position: relative;
}
.tsimgvid img{
    position: relative;
    width: 555px;
    z-index: 10;
}
.tsimgvid video{
    position: absolute;
    top: 95px;
    right: 27px;
    width: 455px;
}
@media screen and (max-width:1300px){
    section.trd-show{
        flex-wrap: wrap;
    }
    .tsimgvid img{
        width: 305px;
    }
    .tsimgvid video{
        position: absolute;
        top: 86px;
        right: 52px;
        width: 205px;
    } 
}
.frt-show{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 70vw;
    margin: auto;
}
section.frt-show> div {
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}
section.frt-show>div :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}
section.frt-show>div :nth-child(2) {
    font-size: 24px;
}
.frsimg img{
    position: relative;
    width: 555px;
    z-index: 10;
}
@media screen and (max-width:1300px){
    section.frt-show{
        flex-wrap: wrap;
    }
    .frsimg img{
        width: 305px;
    }
}
.faq{
    padding: 24px;
    color: white;
}
.faq h2{
    font-size: 32px;
    text-align: center;
}
.faqbox{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    background-color: rgb(45 45 45);
    transition: 1s ease-out;
    padding: 24px;
    margin: 30px auto;
    max-width: 70vw;
    cursor: pointer;
}
footer{
    color: white;
    width: 70vw;
    margin: auto;
    padding: 60px 0px;
}
.questions{
    padding: 20px 0px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 20px;
}
.items > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 20%;
}
a{
    color: white;
}
@media screen and (max-width:800px) {
    .items > div {
        width: 40%;
    }
}