:root{
            --color: rgb(61, 61, 230);
            --seccolor: rgb(107, 107, 247);
        }
       
        *{
           margin: 0;
           padding: 0;
        } 
        
        .nav{
            background-color: var(--color);
        }
        
        ul{
            display: flex;
        }
        
        ul li{
            list-style: none;
            padding: 34px;
        }
        
        .container{
            background-color: var(--seccolor);
        }